//mixin CatalogList(param = {})
//    ul.catalog-list(
//        class=param.mob ? 'catalog-list-mob' : ''
//    )
//        li
//            a(href="#") Арматура
//            ul
//                if (param.mob)
//                    li.back <a href="#">Назад</a>
//                li <a href="#">Арматура композитная</a>
//                li <a href="#">Арматура рифленая</a>
//                li <a href="#">Арматура гладкая A1</a>
//                li <a href="#">Арматура Н/Д</a>
//        li
//            a(href="#") Труба круглая
//            ul
//                if (param.mob)
//                    li.back <a href="#">Назад</a>
//                li <a href="#">Труба водогазопроводная</a>
//                li <a href="#">Труба электросварная</a>
//                li <a href="#">Труба оцинкованная водогазопроводная</a>
//        li
//            a(href="#") Труба круглая
//            ul
//                if (param.mob)
//                    li.back <a href="#">Назад</a>
//                li <a href="#">Труба водогазопроводная</a>
//                li <a href="#">Труба электросварная</a>
//                li <a href="#">Труба оцинкованная водогазопроводная</a>
//        li
//            a(href="#") Труба круглая
//            ul
//                if (param.mob)
//                    li.back <a href="#">Назад</a>
//                li <a href="#">Труба водогазопроводная</a>
//                li <a href="#">Труба электросварная</a>
//                li <a href="#">Труба оцинкованная водогазопроводная</a>
//        li
//            a(href="#") Труба круглая
//            ul
//                if (param.mob)
//                    li.back <a href="#">Назад</a>
//                li <a href="#">Труба водогазопроводная</a>
//                li <a href="#">Труба электросварная</a>
//                li <a href="#">Труба оцинкованная водогазопроводная</a>
//        li
//            a(href="#") Профнастил
//            ul
//                if (param.mob)
//                    li.back <a href="#">Назад</a>
//                li <a href="#">Лист профнастила С8</a>
//                li <a href="#">Лист профнастила С20</a>
//                li <a href="#">Лист профнастила Н75</a>
//        li
//            a(href="#") Швеллер
//            a(href="#") Двутавровая балка
//
