.header {
  background: black;
  .header__cap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    .header__logo {

      img{

      }
    }
    .header__nav {
      display: flex;
      gap: 96px;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
      }
    }
    .header__search {
      justify-content: center;
      svg {
        fill: white;

      }
    }
  }
}