// -
//include catalog

mixin Header(param = {})
    header.header
            .header__cap.container
                .header__logo
                    img(src="../assets/img/content/logo.png" alt="Blanchard Logo")
                .header__nav
                    a( href="#") О нас
                    a( href="#") Галерея
                    a( href="#") Каталог
                    a( href="#") События
                    a( href="#") Проекты
                    a( href="#") Контакты
                .header__search
                    +icon("search")


