a(href="#" data-scroll="#test") У меня есть data-scroll с селектором

br
br

div(style="background: gray; height: 2000px") div big content

#test hello world

div(style="background: gray; height: 2000px") div big content
