h2 Tooltip
.t-section.t-tooltip.t-block
	div(data-tippy-content="Tooltip") Tooltip top
	div(data-tippy-content="Tooltip" data-tippy-placement="bottom") Tooltip bottom
	div(data-tippy-content="Tooltip" data-tippy-placement="left") Tooltip left
	div(data-tippy-content="Tooltip" data-tippy-placement="right") Tooltip right
