include ProductGroupTable

// -
    param {
        type ['filter'*, 'tabs']
    }

mixin ProductGroup(param = {})
    .product-group
        .product-group__filter
            +Filters()
        +ProductGroupTable()
