extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    //+Header()
    .container(style="margin-top: 24px;")
        //+Breadcrumbs()
    .container
        //+ProductGroup()

    include _modals
