+Tag({ text: 'label', color: 'blue', type: 'filled' })
+Tag({ text: 'label', color: 'green', type: 'filled' })
+Tag({ text: 'label', color: 'yellow', type: 'filled' })
+Tag({ text: 'label', color: 'red', type: 'filled' })
+Tag({ text: 'label', color: 'purple', type: 'filled' })
+Tag({ text: 'label', color: 'gray', type: 'filled' })

br
br

+Tag({ text: 'label', color: 'blue', type: 'ghost' })
+Tag({ text: 'label', color: 'green', type: 'ghost' })
+Tag({ text: 'label', color: 'yellow', type: 'ghost' })
+Tag({ text: 'label', color: 'red', type: 'ghost' })
+Tag({ text: 'label', color: 'purple', type: 'ghost' })
+Tag({ text: 'label', color: 'gray', type: 'ghost' })

br
br

+Tag({ text: 'label', color: 'blue', type: 'outline' })
+Tag({ text: 'label', color: 'green', type: 'outline' })
+Tag({ text: 'label', color: 'yellow', type: 'outline' })
+Tag({ text: 'label', color: 'red', type: 'outline' })
+Tag({ text: 'label', color: 'purple', type: 'outline' })
+Tag({ text: 'label', color: 'gray', type: 'outline' })
