div(style="display: flex; gap: 30px; padding: 20px;")
    div(style="flex:1")

        p lg (default)
        br
        button.btn.btn_primary.btn_100 button.btn
        br
        br

        button.btn button.btn
        button.btn(disabled="true") button.btn

        br
        br

        button.btn.btn_primary button.btn
        button.btn.btn_primary(disabled) button.btn

        br
        br

        button.btn.btn_secondary button.btn
        button.btn.btn_secondary(disabled) button.btn

        br
        br

        button.btn.btn_outline button.btn
        button.btn.btn_outline(disabled) button.btn
    div(style="flex:1")

        p md

        br
        button.btn.btn_primary.btn_100.btn_md button.btn
        br
        br

        button.btn.btn_md button.btn
        button.btn.btn_md(disabled="true") button.btn

        br
        br

        button.btn.btn_md.btn_primary button.btn
        button.btn.btn_md.btn_primary(disabled) button.btn

        br
        br

        button.btn.btn_md.btn_secondary button.btn
        button.btn.btn_md.btn_secondary(disabled) button.btn

        br
        br

        button.btn.btn_md.btn_outline button.btn
        button.btn.btn_md.btn_outline(disabled) button.btn
