div(style="display: flex; gap: 30px; padding: 20px;")
    div(style="flex:1")
        p lg (default) only icon
        br

        button.btn.btn_square
            +icon("arrow-right")
        button.btn.btn_square(disabled="true")
            +icon("arrow-right")

        br
        br

        button.btn.btn_square.btn_primary
            +icon("arrow-right")
        button.btn.btn_square.btn_primary(disabled)
            +icon("arrow-right")

        br
        br

        button.btn.btn_square.btn_secondary
            +icon("arrow-right")
        button.btn.btn_square.btn_secondary(disabled)
            +icon("arrow-right")

        br
        br

        button.btn.btn_square.btn_outline
            +icon("arrow-right")
        button.btn.btn_square.btn_outline(disabled)
            +icon("arrow-right")
    div(style="flex:1")
        p md only icon
        br

        button.btn.btn_square.btn_md
            +icon("arrow-right")
        button.btn.btn_square.btn_md(disabled="true")
            +icon("arrow-right")

        br
        br

        button.btn.btn_square.btn_md.btn_primary
            +icon("arrow-right")
        button.btn.btn_square.btn_md.btn_primary(disabled)
            +icon("arrow-right")

        br
        br

        button.btn.btn_square.btn_md.btn_secondary
            +icon("arrow-right")
        button.btn.btn_square.btn_md.btn_secondary(disabled)
            +icon("arrow-right")

        br
        br

        button.btn.btn_square.btn_md.btn_outline
            +icon("arrow-right")
        button.btn.btn_square.btn_md.btn_outline(disabled)
            +icon("arrow-right")

