div(style="display: flex; gap: 30px; padding: 20px;")
    div(style="flex:1")
        p lg (default) + icon
        br

        button.btn button.btn
            +icon("arrow-right")
        button.btn(disabled="true") button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_primary button.btn
            +icon("arrow-right")
        button.btn.btn_primary(disabled) button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_secondary button.btn
            +icon("arrow-right")
        button.btn.btn_secondary(disabled) button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_outline button.btn
            +icon("arrow-right")
        button.btn.btn_outline(disabled) button.btn
            +icon("arrow-right")

    div(style="flex:1")
        p md + icon
        br

        button.btn.btn_md button.btn
            +icon("arrow-right")
        button.btn.btn_md(disabled="true") button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_md.btn_primary button.btn
            +icon("arrow-right")
        button.btn.btn_md.btn_primary(disabled) button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_md.btn_secondary button.btn
            +icon("arrow-right")
        button.btn.btn_md.btn_secondary(disabled) button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_md.btn_outline button.btn
            +icon("arrow-right")
        button.btn.btn_md.btn_outline(disabled) button.btn
            +icon("arrow-right")
