div(style="display: flex; gap: 30px; padding: 20px; background: #262626; color: white;")
    div(style="flex:1")
        p lg (default) + icon
        br

        button.btn.btn_dark button.btn
            +icon("arrow-right")
        button.btn.btn_dark(disabled="true") button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_primary-dark button.btn
            +icon("arrow-right")
        button.btn.btn_primary-dark(disabled) button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_secondary-dark button.btn
            +icon("arrow-right")
        button.btn.btn_secondary-dark(disabled) button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_outline-dark button.btn
            +icon("arrow-right")
        button.btn.btn_outline-dark(disabled) button.btn
            +icon("arrow-right")

    div(style="flex:1")
        p md + icon
        br

        button.btn.btn_dark.btn_md button.btn
            +icon("arrow-right")
        button.btn.btn_dark.btn_md(disabled="true") button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_md.btn_primary-dark button.btn
            +icon("arrow-right")
        button.btn.btn_md.btn_primary-dark(disabled) button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_md.btn_secondary-dark button.btn
            +icon("arrow-right")
        button.btn.btn_md.btn_secondary-dark(disabled) button.btn
            +icon("arrow-right")

        br
        br

        button.btn.btn_md.btn_outline-dark button.btn
            +icon("arrow-right")
        button.btn.btn_md.btn_outline-dark(disabled) button.btn
            +icon("arrow-right")
