// -
    param: {
        min
        max
        inputType: '', 'unit'
    }

mixin InputRange(param = {})

    - param.min = param.min || 0;
    - param.max = param.max || 6666666;

    .input-range
        .input-range__units
            //+RadioBtn({ text: 'за м²', name: 'priceType', value: '0', checked: true })
            //+RadioBtn({ text: 'За тонну', name: 'priceType', value: '1' })
            +CheckboxBtn({text: 'за м²', name: 'priceType', value: '0', checked: true })
            +CheckboxBtn({text: 'За тонну', name: 'priceType', value: '1' })
        .input-range__inputs
            - if (!param.inputType)
                +Input({ placeholder: 'От', class: 'input-min', name: 'priceMin'})
                +Input({placeholder: 'До', class: 'input-max', name: 'priceMax'})
            - if (param.inputType === 'unit')
                +Input({ placeholder: 'От', class: 'input-min', name: 'priceMin', type: 'unit', unit: 'мм' })
                +Input({ placeholder: 'До', class: 'input-max', name: 'priceMax', type: 'unit', unit: 'мм' })
        .input-range__slider(data-min=param.min data-max=param.max)

