// mixins UI
include ../components/ui/Input/Input
include ../components/ui/Input/Checkbox
include ../components/ui/Input/Toggle
include ../components/ui/Input/Radio
include ../components/ui/Input/Select
include ../components/ui/Input/InputFile
include ../components/ui/Tag/Tag
include ../components/ui/Breadcrumbs/Breadcrumbs
include ../components/ui/MyModal/MyModal
include ../components/ui/Pagination/Pagination
include ../components/ui/Tabs/TabsNav
include ../components/ui/Filters/Filters

include icon
include Header/Header
