.t-section
	h3.t-title Радиокнопки
	.t-block
		+Radio({name: 'name', value: 'Имя 1', text: 'Radio btn'})
		+Radio({name: 'name', value: 'Имя 3'})
		+Radio({name: 'name', value: 'Имя 3', checked: true})
		+Radio({name: 'name', value: 'Имя 4', disabled: true})
		+Radio({name: 'lastname', value: 'Имя 5', disabled: true, checked: true})

		+RadioBtn({name: 'test', value: 'Имя 3', text: 'radioBtn', checked: true})
		+RadioBtn({name: 'test', value: 'Имя 3', text: 'radioBtn'})
