div(style="max-width: 310px; padding: 10px;") Select radio
div(style="max-width: 310px; padding: 10px;")
    +Select()
div(style="max-width: 310px; padding: 10px;") Select radio
div(style="max-width: 310px; padding: 10px;")
    +Select()
