+TabsNav({
  items: [
    { label: 'tab 1', targetId: 'tab1' },
    { label: 'tab 2', targetId: 'tab2' },
    { label: 'tab 3', targetId: 'tab3' },
    { label: 'tab 4', targetId: 'tab4' },
    { label: 'tab 5', targetId: 'tab5' },
    { label: 'tab 6', targetId: 'tab6' },
    { label: 'tab 7', targetId: 'tab7' },
    { label: 'tab 8', targetId: 'tab8' },
    { label: 'tab 9', targetId: 'tab9' },
  ],
})

.tabb#tab1(style="width: 100%; height: 300px; background: pink;") content 1
.tabb#tab2(style="width: 100%; height: 300px; background: pink; display: none;") content 2
.tabb#tab3(style="width: 100%; height: 300px; background: pink; display: none;") content 3
.tabb#tab4(style="width: 100%; height: 300px; background: pink; display: none;") content 4
.tabb#tab5(style="width: 100%; height: 300px; background: pink; display: none;") content 5
.tabb#tab6(style="width: 100%; height: 300px; background: pink; display: none;") content 6
.tabb#tab7(style="width: 100%; height: 300px; background: pink; display: none;") content 7
.tabb#tab8(style="width: 100%; height: 300px; background: pink; display: none;") content 8
.tabb#tab9(style="width: 100%; height: 300px; background: pink; display: none;") content 9


+TabsNav({
  items: [
    { label: 'tab 10', targetId: 'tab10' },
    { label: 'tab 20', targetId: 'tab20' },
    { label: 'tab 30', targetId: 'tab30' },
    { label: 'tab 40', targetId: 'tab40' },
    { label: 'tab 50', targetId: 'tab50' },
    { label: 'tab 60', targetId: 'tab60' },
    { label: 'tab 70', targetId: 'tab70' },
    { label: 'tab 80', targetId: 'tab80' },
    { label: 'tab 90', targetId: 'tab90' },
  ],
})

.tabb#tab10(style="width: 100%; height: 300px; background: pink;") content 10
.tabb#tab20(style="width: 100%; height: 300px; background: pink; display: none;") content 20
.tabb#tab30(style="width: 100%; height: 300px; background: pink; display: none;") content 30
.tabb#tab40(style="width: 100%; height: 300px; background: pink; display: none;") content 40
.tabb#tab50(style="width: 100%; height: 300px; background: pink; display: none;") content 50
.tabb#tab60(style="width: 100%; height: 300px; background: pink; display: none;") content 60
.tabb#tab70(style="width: 100%; height: 300px; background: pink; display: none;") content 70
.tabb#tab80(style="width: 100%; height: 300px; background: pink; display: none;") content 80
.tabb#tab90(style="width: 100%; height: 300px; background: pink; display: none;") content 90
